@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

ul{
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
}
ul li {
    display: inline;
}
ul li a {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}
.img_box{
    background-image: url('./image1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 789px;
}
.content{
    padding: 48px  0 42px 0;
    margin-bottom: 40px;
}
.content > h2{
    max-width: 774px;
    width: 100%;
    margin: 0 auto;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 38px;
}
.content > p{
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
}
.m_b{
    margin-bottom: 66px !important;
}
.btn_box{
    display: flex;
    justify-content: center;
}
.btn{
    background: #FF0000;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    letter-spacing: 1.8px;
    border: none;
    cursor: pointer;
}
.footer_content{
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    padding-right: 37px;
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}